*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}

.decoration{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.classic_cocktail__about{

}
.decoration_picture{

}
.classic_cocktails_section{
    display: flex;
}

.decoration_picture:nth-child(odd) {
    grid-column: 1;
  }

.decoration_picture:nth-child(even) {
    grid-column: 2;
    grid-row: span 1;
}

.coffee_beans{
    width: 100%;
  }